Repository sisinflab/warprec: changes, and which pre-commit hooks are due for each by the changed paths.
All: pydoclint, mypy, pylint, bandit

pydoclint:
  name: pydoclint
  entry: poetry run pydoclint
  language: system
  args:
  - --style=google
  - --check-return-types=True

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  args:
  - --no-strict-optional
  - --ignore-missing-imports

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --jobs=0
  - --fail-under=9
  - --fail-on=F,E
  - --max-line-length=100
  - --reports=no
  - --disable=C0103,C0114,W0221,W0511,R0913,R0902,R0914,R0917,E1101
  - --extension-pkg-whitelist=pydantic

bandit:
  name: bandit
  entry: poetry run bandit --skip B614
  language: system

refactor: Interactions drops the context state it no longer reads
  warprec/data/entities/interactions.py
Due: pydoclint, mypy, pylint, bandit

fix: The popularity sampling exponent is configurable instead of hard-coded
  config/full_config.yml
  warprec/common/initialize.py
  warprec/data/dataset.py
  warprec/data/entities/interactions.py
  warprec/data/entities/train_structures/interaction_structures.py
  warprec/data/entities/transactions.py
  warprec/data/eval_loaders.py
  warprec/data/schema.py
  warprec/pipelines/design.py
  warprec/pipelines/estimate.py
  warprec/pipelines/eval.py
  warprec/pipelines/remotes/ml.py
  warprec/recommenders/trainer/objectives.py
  warprec/utils/config/evaluation_configuration.py
  warprec/utils/config/training_configuration.py
  warprec/utils/helpers.py
Due: pydoclint, mypy, pylint, bandit

test: The popularity sampling exponent is checked to move the draw
  tests/test_evaluation_loaders.py
Due: pydoclint

docs: The popularity sampling exponent is documented
  docs/docs/configuration/evaluation.md
  docs/docs/configuration/training.md
Due: none

fix: ensure generator device compatibility
  warprec/data/ranking.py
  warprec/recommenders/multimodal_recommender/freedom.py
Due: pydoclint, mypy, pylint, bandit

feat: A saved model carries the seen items and histories serving needs
  tests/conftest.py
  tests/test_serving_payload.py
  warprec/data/writer/base_writer.py
  warprec/pipelines/train.py
  warprec/serving/__init__.py
  warprec/serving/payload.py
Due: pydoclint, mypy, pylint, bandit

feat: A saved model answers batched recommendation requests
  tests/test_servable.py
  warprec/serving/errors.py
  warprec/serving/servable.py
Due: pydoclint, mypy, pylint, bandit

feat: Sequential models declare whether they need a known user to score a session
  tests/test_sequential_user_flag.py
  warprec/recommenders/base_recommender.py
  warprec/recommenders/sequential_recommender/caser.py
  warprec/recommenders/sequential_recommender/fossil.py
  warprec/recommenders/sequential_recommender/stan.py
Due: pydoclint, mypy, pylint, bandit

feat: A saved checkpoint restores every model without the training data
  tests/conftest.py
  tests/test_checkpoint_roundtrip.py
  warprec/recommenders/base_recommender.py
  warprec/recommenders/collaborative_filtering_recommender/autoencoder/multidae.py
  warprec/recommenders/collaborative_filtering_recommender/autoencoder/multivae.py
Due: pydoclint, mypy, pylint, bandit

feat: The serving configuration is validated and documented
  config/serve_config.yml
  docs/docs/configuration/serving.md
  docs/mkdocs.yml
  tests/test_serving_configuration.py
  warprec/utils/config/__init__.py
  warprec/utils/config/serving_configuration.py
Due: pydoclint, mypy, pylint, bandit

feat: The warprec.serve command starts the serving application or exports it for a cluster
  tests/test_serve_cli.py
  warprec/serve.py
  warprec/serving/app.py
Due: pydoclint, mypy, pylint, bandit

feat: Served items carry a name only when an item catalogue is configured
  tests/test_serving_app.py
  warprec/serving/api.py
Due: pydoclint, mypy, pylint, bandit

feat: Each serving replica accepts enough concurrent requests to fill a batch
  config/serve_config.yml
  docs/docs/configuration/serving.md
  tests/test_serving_configuration.py
  warprec/utils/config/serving_configuration.py
Due: pydoclint, mypy, pylint, bandit

feat: Served models are exposed to agents over MCP
  tests/test_serving_mcp.py
  warprec/serving/mcp.py
Due: pydoclint, mypy, pylint, bandit

feat!: Saved models are served over HTTP with Ray Serve, now an optional extra
  .github/actions/setup-env/action.yml
  poetry.lock
  pyproject.toml
  tests/test_serving_app.py
  warprec/serving/api.py
  warprec/serving/app.py
  warprec/serving/deployments.py
  warprec/serving/schemas.py
Due: pydoclint, mypy, pylint, bandit

feat: Context-aware models are served with the context each request describes
  tests/test_servable.py
  tests/test_serving_context.py
  warprec/data/dataset.py
  warprec/recommenders/base_recommender.py
  warprec/serving/context.py
  warprec/serving/payload.py
  warprec/serving/servable.py
Due: pydoclint, mypy, pylint, bandit

feat: Served models score candidates and resolve item names
  tests/test_servable.py
  warprec/serving/catalogue.py
  warprec/serving/servable.py
Due: pydoclint, mypy, pylint, bandit

feat: The serving configuration refuses numbered CUDA devices and gives replicas absolute paths
  config/serve_config.yml
  docs/docs/configuration/serving.md
  tests/test_serving_configuration.py
  warprec/utils/config/serving_configuration.py
Due: pydoclint, mypy, pylint, bandit

feat: The serving gateway reserves no CPU and only the health route skips the API key
  tests/test_serving_app.py
  warprec/serving/api.py
  warprec/serving/deployments.py
Due: pydoclint, mypy, pylint, bandit

feat: Stopping the warprec.serve command on a shared Ray cluster removes only its own application
  tests/test_serve_cli.py
  warprec/serving/app.py
Due: pydoclint, mypy, pylint, bandit

build: Building from source requires poetry-core 2, which reads the project table
  pyproject.toml
Due: none

feat: Concurrent score requests to a served model share one forward pass
  tests/test_servable.py
  tests/test_serving_app.py
  warprec/serving/deployments.py
  warprec/serving/servable.py
Due: pydoclint, mypy, pylint, bandit

feat: The warprec.serve command refuses MCP up front when fastmcp is missing
  tests/test_serve_cli.py
  warprec/serve.py
Due: pydoclint, mypy, pylint, bandit

docs: Serving trained models is documented end to end
  README.md
  docs/docs/configuration/models.md
  docs/docs/get-started/architecture.md
  docs/docs/get-started/installation.md
  docs/docs/serving/index.md
  docs/mkdocs.yml
Due: none

refactor!: The standalone REST and MCP servers are removed in favour of warprec.serve
  .pre-commit-config.yaml
  serving/README.md
  serving/__init__.py
  serving/common/__init__.py
  serving/common/config.py
  serving/common/inference.py
  serving/common/model_manager.py
  serving/common/models/__init__.py
  serving/common/models/base.py
  serving/common/models/collaborative.py
  serving/common/models/contextual.py
  serving/common/models/sequential.py
  serving/mcp/README.md
  serving/mcp/__init__.py
  serving/mcp/environment.yml
  serving/mcp/mcp_server.py
  serving/restAPI/README.md
  serving/restAPI/__init__.py
  serving/restAPI/environment.yml
  serving/restAPI/routes/__init__.py
  serving/restAPI/routes/router.py
  serving/restAPI/routes/v1/__init__.py
  serving/restAPI/routes/v1/recommend.py
  serving/restAPI/security/__init__.py
  serving/restAPI/security/api_key.py
  serving/restAPI/server.py
  serving/serving_config.yml
Due: pydoclint, mypy, pylint, bandit

feat: Models that score on the CPU are served there instead of reserving a GPU
  docs/docs/configuration/serving.md
  tests/test_servable.py
  tests/test_serve_cli.py
  warprec/serving/app.py
  warprec/serving/servable.py
Due: pydoclint, mypy, pylint, bandit

chore: The serving configuration passes the package-wide type check
  warprec/utils/config/serving_configuration.py
Due: pydoclint, mypy, pylint, bandit

feat: An exported serving application listens on every interface unless a host is set
  docs/docs/configuration/serving.md
  tests/test_serve_cli.py
  warprec/serving/app.py
Due: pydoclint, mypy, pylint, bandit

feat: An empty multi-valued context is served as padding, as in training
  tests/test_serving_context.py
  warprec/serving/context.py
Due: pydoclint, mypy, pylint, bandit

docs: The serving guide lists the extras graph models need and the dashboard serve deploy uses
  docs/docs/serving/index.md
Due: none

feat: Users without a training history are served as unknown users
  tests/test_servable.py
  warprec/serving/servable.py
Due: pydoclint, mypy, pylint, bandit

docs: Served models can be deployed on one machine, Docker, Kubernetes, Ray clusters and KubeRay
  docs/docs/cloud/deployment.md
  docs/docs/serving/index.md
  docs/mkdocs.yml
Due: none

ci: pydoclint runs in an environment of its own, so the mcp extra is installed and tested
  .github/actions/setup-env/action.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  tests/test_serving_mcp.py
Due: pydoclint

test: The score batching probe runs in its own process instead of leaking a queue into the deployment
  tests/test_serving_app.py
Due: pydoclint

fix: Graph models no longer repeat PyTorch Geometric's internal warnings in every process
  tests/test_graph_warnings.py
  warprec/recommenders/collaborative_filtering_recommender/graph_based/graph_utils.py
Due: pydoclint, mypy, pylint, bandit

feat: A saved model records what it was trained on, how it scored and the context it saw
  tests/test_serving_context.py
  tests/test_serving_payload.py
  warprec/data/writer/base_writer.py
  warprec/pipelines/train.py
  warprec/serving/payload.py
Due: pydoclint, mypy, pylint, bandit

feat: A serving endpoint can describe itself, name its items and the attributes they carry
  config/serve_config.yml
  docs/docs/configuration/serving.md
  tests/test_serving_configuration.py
  warprec/utils/config/serving_configuration.py
Due: pydoclint, mypy, pylint, bandit

feat: A saved model records its test metrics as the averages the results table reports
  tests/test_serving_payload.py
  warprec/serving/payload.py
Due: pydoclint, mypy, pylint, bandit

feat: Served items can be searched and looked up by name, with suggestions for near misses
  tests/test_servable.py
  warprec/serving/catalogue.py
  warprec/serving/deployments.py
  warprec/serving/servable.py
Due: pydoclint, mypy, pylint, bandit

feat: Each served model has a card that says how to ask it, what it knows and how it was trained
  tests/test_servable.py
  tests/test_serving_context.py
  warprec/serving/context.py
  warprec/serving/servable.py
Due: pydoclint, mypy, pylint, bandit

Path conditions:
  pydoclint: any of: \.py$ and not (^src/pipelines/) and not (^.venv/)
  mypy: any of: \.py$ and not (^tests/) and not (^.venv/)
  pylint: any of: \.py$ and not (^tests/) and not (^.venv/)
  bandit: any of: \.py$ and not (^tests/|^src/pipelines/) and not (^.venv/)
