Repository sisinflab/warprec: changes, and which pre-commit hooks are due for each by the changed paths.
All: pydoclint, mypy, pylint, bandit

.pre-commit-config.yaml:

exclude: ^.venv/
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.2
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
        exclude: ^src/pipelines/

  - repo: local
    hooks:
      - id: pydoclint
        name: pydoclint
        entry: poetry run pydoclint
        language: system
        types: [python]
        args: ["--style=google", "--check-return-types=True"]
        exclude: ^src/pipelines/

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        args: [--no-strict-optional, --ignore-missing-imports]
        exclude: ^tests/

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args:
          [
            "--jobs=0",
            "--fail-under=9",
            "--fail-on=F,E",
            "--max-line-length=100",
            "--reports=no",
            # "--good-names=e,f,i,j,k,p,v,x,y,z,x0,x1,z0,z1,tn,fn,tp,fp,auc,fc,bn",
            # "--disable=C0301, C0114, C0115, C0116, E1101, E1121, R0903, R0913, W0511",
            "--disable=C0103,C0114,W0221,W0511,R0913,R0902,R0914,R0917,E1101",
            "--extension-pkg-whitelist=pydantic",
          ]
        exclude: ^tests/


  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: poetry run bandit --skip B614
        language: system
        types: [python]
        exclude: ^tests/|^src/pipelines/

  - repo: local
    hooks:
      - id: export-poetry-requirements
        name: Export Poetry Requirements
        entry: poetry export -f requirements.txt --output requirements.txt --without-hashes
        language: system
        pass_filenames: false
        always_run: true

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # general file rules
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
      # file format checks
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-xml
      # git related
      - id: check-added-large-files
        args: ["--maxkb=3000"]
      - id: check-merge-conflict
      # python specifics
      - id: name-tests-test
        args: ["--pytest-test-first"]

fix: Written recommendations follow the configured seen-item rule
  warprec/data/ranking.py
  warprec/data/writer/azureblob_writer.py
  warprec/data/writer/base_writer.py
  warprec/data/writer/local_writer.py
  warprec/pipelines/eval.py
  warprec/pipelines/remotes/data.py
Due: pydoclint, mypy, pylint, bandit

test: Added regression tests for the seen-item rule of written recommendations
  tests/test_reader_writer.py
Due: pydoclint

docs: Noted that mask_seen governs the written recommendations too
  docs/docs/configuration/evaluation.md
Due: none

fix: Writing recommendations for a context-aware model refuses instead of crashing
  warprec/data/writer/azureblob_writer.py
  warprec/data/writer/base_writer.py
  warprec/data/writer/local_writer.py
Due: pydoclint, mypy, pylint, bandit

test: Added regression tests for the contextual recommendation refusal
  tests/test_reader_writer.py
Due: pydoclint

docs: Noted that context-aware models cannot write recommendations
  docs/docs/configuration/writer.md
Due: none

feat: Added the TwoTower retrieval model trained with in-batch negatives
  warprec/recommenders/collaborative_filtering_recommender/neural/__init__.py
  warprec/recommenders/collaborative_filtering_recommender/neural/twotower.py
  warprec/utils/config/recommender_model_config/collaborative_filtering_config/__init__.py
  warprec/utils/config/recommender_model_config/collaborative_filtering_config/neural_config.py
Due: pydoclint, mypy, pylint, bandit

fix: MultiVAE estimates from the posterior mean instead of a single draw
  warprec/recommenders/collaborative_filtering_recommender/autoencoder/multivae.py
Due: pydoclint, mypy, pylint, bandit

fix: The Random baseline draws from its own seed
  warprec/recommenders/unpersonalized_recommender/random.py
Due: pydoclint, mypy, pylint, bandit

test: The smoke suite checks the sampled path against the full ranking
  tests/test_model_smoke.py
Due: pydoclint

docs: Documented the TwoTower model
  README.md
  docs/docs/api-reference/recommenders/collaborative.md
  docs/docs/recommenders/collaborative.md
Due: none

feat: Added a knowledge graph to the data layer
  warprec/common/initialize.py
  warprec/data/dataset.py
  warprec/data/entities/__init__.py
  warprec/data/entities/knowledge.py
  warprec/utils/config/__init__.py
  warprec/utils/config/config.py
  warprec/utils/config/model_configuration.py
  warprec/utils/config/reader_configuration.py
Due: pydoclint, mypy, pylint, bandit

feat: Added the CKE and KGAT knowledge-aware models
  warprec/pipelines/design.py
  warprec/pipelines/estimate.py
  warprec/pipelines/eval.py
  warprec/pipelines/remotes/ml.py
  warprec/recommenders/__init__.py
  warprec/recommenders/knowledge_aware_recommender/__init__.py
  warprec/recommenders/knowledge_aware_recommender/cke.py
  warprec/recommenders/knowledge_aware_recommender/kgat.py
  warprec/recommenders/knowledge_aware_recommender/knowledge_utils.py
  warprec/recommenders/trainer/objectives.py
  warprec/recommenders/trainer/trainer.py
  warprec/utils/config/recommender_model_config/__init__.py
  warprec/utils/config/recommender_model_config/knowledge_aware_config.py
Due: pydoclint, mypy, pylint, bandit

test: The shared fixture carries a knowledge graph
  tests/conftest.py
  tests/test_model_smoke.py
Due: pydoclint

test: The knowledge graph and its models are tested behaviourally
  tests/test_knowledge_graph.py
Due: pydoclint

docs: Documented the knowledge-aware family and its configuration
  README.md
  config/full_config.yml
  docs/docs/api-reference/data/entities.md
  docs/docs/api-reference/index.md
  docs/docs/api-reference/recommenders/knowledge.md
  docs/docs/configuration/reader.md
  docs/docs/data-management/reader.md
  docs/docs/recommenders/knowledge.md
  docs/docs/recommenders/taxonomy.md
  docs/mkdocs.yml
Due: none

fix: A model's name no longer changes with its buffers
  warprec/recommenders/base_recommender.py
Due: pydoclint, mypy, pylint, bandit

feat: Added multimodal item features to the data layer
  warprec/common/initialize.py
  warprec/data/dataset.py
  warprec/data/entities/__init__.py
  warprec/data/entities/multimodal.py
  warprec/data/reader/azureblob_reader.py
  warprec/data/reader/base_reader.py
  warprec/data/reader/local_reader.py
  warprec/utils/config/__init__.py
  warprec/utils/config/common.py
  warprec/utils/config/config.py
  warprec/utils/config/model_configuration.py
  warprec/utils/config/reader_configuration.py
Due: pydoclint, mypy, pylint, bandit

feat: Added the VBPR and FREEDOM multimodal models
  warprec/pipelines/design.py
  warprec/pipelines/estimate.py
  warprec/pipelines/eval.py
  warprec/recommenders/__init__.py
  warprec/recommenders/multimodal_recommender/__init__.py
  warprec/recommenders/multimodal_recommender/freedom.py
  warprec/recommenders/multimodal_recommender/multimodal_utils.py
  warprec/recommenders/multimodal_recommender/vbpr.py
  warprec/recommenders/trainer/objectives.py
  warprec/recommenders/trainer/trainer.py
  warprec/utils/config/recommender_model_config/__init__.py
  warprec/utils/config/recommender_model_config/multimodal_config.py
Due: pydoclint, mypy, pylint, bandit

test: The multimodal layer and its models are tested behaviourally
  tests/test_multimodal.py
Due: pydoclint

test: The shared fixture carries multimodal features
  tests/conftest.py
  tests/test_checkpoint_roundtrip.py
  tests/test_model_smoke.py
Due: pydoclint

docs: Documented the multimodal family and its configuration
  README.md
  config/full_config.yml
  docs/docs/api-reference/data/entities.md
  docs/docs/api-reference/index.md
  docs/docs/api-reference/recommenders/multimodal.md
  docs/docs/configuration/reader.md
  docs/docs/data-management/reader.md
  docs/docs/recommenders/multimodal.md
  docs/docs/recommenders/taxonomy.md
  docs/mkdocs.yml
Due: none

feat: The knowledge graph exposes entity neighbourhoods
  warprec/data/entities/knowledge.py
Due: pydoclint, mypy, pylint, bandit

fix: Warn when a knowledge graph covers little of the catalogue
  warprec/recommenders/knowledge_aware_recommender/knowledge_utils.py
Due: pydoclint, mypy, pylint, bandit

feat: Added the KGCN, KGIN and RippleNet knowledge models
  warprec/recommenders/knowledge_aware_recommender/__init__.py
  warprec/recommenders/knowledge_aware_recommender/kgcn.py
  warprec/recommenders/knowledge_aware_recommender/kgin.py
  warprec/recommenders/knowledge_aware_recommender/ripplenet.py
  warprec/utils/config/recommender_model_config/knowledge_aware_config.py
Due: pydoclint, mypy, pylint, bandit

refactor: The feature neighbour graph moved to the multimodal mixin
  warprec/recommenders/multimodal_recommender/freedom.py
  warprec/recommenders/multimodal_recommender/multimodal_utils.py
Due: pydoclint, mypy, pylint, bandit

feat: Added the MMGCN, LATTICE, MGCN and BM3 multimodal models
  warprec/recommenders/multimodal_recommender/__init__.py
  warprec/recommenders/multimodal_recommender/bm3.py
  warprec/recommenders/multimodal_recommender/lattice.py
  warprec/recommenders/multimodal_recommender/mgcn.py
  warprec/recommenders/multimodal_recommender/mmgcn.py
  warprec/utils/config/recommender_model_config/multimodal_config.py
Due: pydoclint, mypy, pylint, bandit

test: The new knowledge and multimodal models are tested behaviourally
  tests/conftest.py
  tests/test_knowledge_graph.py
  tests/test_multimodal.py
Due: pydoclint

docs: Documented the seven new knowledge and multimodal models
  README.md
  docs/docs/api-reference/recommenders/knowledge.md
  docs/docs/api-reference/recommenders/multimodal.md
  docs/docs/recommenders/knowledge.md
  docs/docs/recommenders/multimodal.md
  docs/docs/recommenders/taxonomy.md
Due: none

refactor: Interactions maps to index space through the shared helper
  warprec/data/entities/interactions.py
Due: pydoclint, mypy, pylint, bandit

fix: The interaction dataloader draws from its own generator
  warprec/data/entities/interactions.py
Due: pydoclint, mypy, pylint, bandit

refactor: Sessions works out its valid targets in one place
  warprec/data/entities/sessions.py
Due: pydoclint, mypy, pylint, bandit

fix: A model's optional hyperparameters can be left out
  warprec/utils/config/recommender_model_config/knowledge_aware_config.py
Due: pydoclint, mypy, pylint, bandit

perf: KGCN shares its walk over the graph across users
  warprec/recommenders/knowledge_aware_recommender/kgcn.py
Due: pydoclint, mypy, pylint, bandit

feat: Added the DiffRec diffusion model
  warprec/recommenders/collaborative_filtering_recommender/autoencoder/__init__.py
  warprec/recommenders/collaborative_filtering_recommender/autoencoder/diffrec.py
  warprec/utils/config/recommender_model_config/collaborative_filtering_config/autoencoder_config.py
Due: pydoclint, mypy, pylint, bandit

ci: Coverage is enforced at a floor
  .github/workflows/tests.yml
  .gitignore
  makefile
  pyproject.toml
Due: none

test: DiffRec, the interaction loader and optional defaults
  tests/conftest.py
  tests/test_diffusion.py
  tests/test_model_smoke.py
Due: pydoclint

docs: Documented DiffRec
  README.md
  docs/docs/api-reference/recommenders/collaborative.md
  docs/docs/recommenders/collaborative.md
  docs/docs/recommenders/taxonomy.md
Due: none

fix: Negative sampling draws from the whole catalogue
  warprec/data/entities/interactions.py
Due: pydoclint, mypy, pylint, bandit

test: A cold-start split keeps every training item drawable
  tests/test_cold_start.py
Due: pydoclint
