Repository sisinflab/warprec: changes, and which pre-commit hooks are due for each by the changed paths.
All: pydoclint, mypy, pylint, bandit

.pre-commit-config.yaml:

exclude: ^.venv/
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.2
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
        exclude: ^src/pipelines/

  - repo: local
    hooks:
      - id: pydoclint
        name: pydoclint
        entry: poetry run pydoclint
        language: system
        types: [python]
        args: ["--style=google", "--check-return-types=True"]
        exclude: ^src/pipelines/

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        args: [--no-strict-optional, --ignore-missing-imports]
        exclude: ^tests/

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args:
          [
            "--jobs=0",
            "--fail-under=9",
            "--fail-on=F,E",
            "--max-line-length=100",
            "--reports=no",
            # "--good-names=e,f,i,j,k,p,v,x,y,z,x0,x1,z0,z1,tn,fn,tp,fp,auc,fc,bn",
            # "--disable=C0301, C0114, C0115, C0116, E1101, E1121, R0903, R0913, W0511",
            "--disable=C0103,C0114,W0221,W0511,R0913,R0902,R0914,R0917,E1101",
            "--extension-pkg-whitelist=pydantic",
          ]
        exclude: ^tests/


  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: poetry run bandit --skip B614
        language: system
        types: [python]
        exclude: ^tests/|^src/pipelines/

  - repo: local
    hooks:
      - id: export-poetry-requirements
        name: Export Poetry Requirements
        entry: poetry export -f requirements.txt --output requirements.txt --without-hashes
        language: system
        pass_filenames: false
        always_run: true

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # general file rules
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
      # file format checks
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-xml
      # git related
      - id: check-added-large-files
        args: ["--maxkb=3000"]
      - id: check-merge-conflict
      # python specifics
      - id: name-tests-test
        args: ["--pytest-test-first"]

ci: Added specific check for lock file to fast fail PR merges
  .github/actions/setup-env/action.yml
Due: none

fix: Updated dependencies
  poetry.lock
Due: none

ci: Updated CI to solve race condition of docstring_parser
  .github/actions/setup-env/action.yml
  .pre-commit-config.yaml
Due: none

lint: Fix linting problems raised by new mypy version
  warprec/data/entities/sessions.py
  warprec/evaluation/metrics/diversity/shannon_entropy.py
Due: pydoclint, mypy, pylint, bandit

fix: Fixed rating metrics inf error
  warprec/evaluation/metrics/base_metric.py
Due: pydoclint, mypy, pylint, bandit

fix: Fixed DataLoader workers ignoring num_workers and cpu_per_trial
  docs/docs/configuration/models.md
  warprec/pipelines/design.py
  warprec/pipelines/estimate.py
  warprec/pipelines/eval.py
  warprec/pipelines/remotes/ml.py
  warprec/recommenders/trainer/objectives.py
  warprec/recommenders/trainer/trainer.py
  warprec/utils/config/model_configuration.py
  warprec/utils/helpers.py
Due: pydoclint, mypy, pylint, bandit

fix: Removed full-width temporary from discounted_relevance
  warprec/evaluation/metrics/base_metric.py
Due: pydoclint, mypy, pylint, bandit

fix: Moved evaluation ground truth densification to the device
  warprec/data/__init__.py
  warprec/data/dataset.py
  warprec/data/eval_loaders.py
  warprec/evaluation/evaluator.py
Due: pydoclint, mypy, pylint, bandit

fix: Removed duplicate iteration of the evaluation set per epoch
  warprec/recommenders/trainer/objectives.py
Due: pydoclint, mypy, pylint, bandit

fix: Fixed DDP deadlock in train.report and duplicate metric logging
  warprec/recommenders/callbacks.py
  warprec/recommenders/trainer/objectives.py
Due: pydoclint, mypy, pylint, bandit

lint: Solved linting issues
  warprec/data/eval_loaders.py
  warprec/evaluation/evaluator.py
  warprec/utils/helpers.py
Due: pydoclint, mypy, pylint, bandit

fix: Fixed knn models which used dense similarity matrices instead of sparse
  warprec/recommenders/base_recommender.py
  warprec/recommenders/collaborative_filtering_recommender/knn/itemknn.py
  warprec/recommenders/collaborative_filtering_recommender/knn/userknn.py
  warprec/recommenders/hybrid_recommender/attributeitemknn.py
  warprec/recommenders/hybrid_recommender/attributeuserknn.py
Due: pydoclint, mypy, pylint, bandit

fix: Fixed random and grid search ignoring the configured seed
  warprec/recommenders/trainer/search_algorithm_wrapper.py
Due: pydoclint, mypy, pylint, bandit

fix: Fixed random and grid search ignoring max_concurrent_trials
  warprec/recommenders/trainer/search_algorithm_wrapper.py
  warprec/recommenders/trainer/trainer.py
Due: pydoclint, mypy, pylint, bandit

fix: Fixed cross-validation failing for models without hyperparameters
  warprec/recommenders/trainer/trainer.py
Due: pydoclint, mypy, pylint, bandit

fix: Fixed resumed trials restarting from their first epoch
  docs/docs/pipelines/pause-resume.md
  warprec/recommenders/callbacks.py
  warprec/recommenders/trainer/objectives.py
  warprec/recommenders/trainer/trainer.py
Due: pydoclint, mypy, pylint, bandit

fix: Fixed ASHA pruning fewer trials after a resume
  docs/docs/configuration/models.md
  docs/docs/pipelines/pause-resume.md
  warprec/recommenders/callbacks.py
  warprec/recommenders/trainer/scheduler_wrapper.py
Due: pydoclint, mypy, pylint, bandit

fix: Fixed BOHB sweeps failing on reports without completed_epochs
  warprec/recommenders/trainer/scheduler_wrapper.py
Due: pydoclint, mypy, pylint, bandit

fix: Fixed paused sweeps hanging with W&B and losing CodeCarbon emissions
  warprec/recommenders/trainer/dashboard_callbacks.py
  warprec/recommenders/trainer/trainer.py
Due: pydoclint, mypy, pylint, bandit

fix: Fixed resumed trials losing their history and the epoch ending during a pause
  docs/docs/pipelines/pause-resume.md
  warprec/recommenders/callbacks.py
  warprec/recommenders/trainer/logger_callbacks.py
  warprec/recommenders/trainer/objectives.py
  warprec/recommenders/trainer/trainer.py
Due: pydoclint, mypy, pylint, bandit

fix: Fixed resumed trials missing their last epoch, early stopping stop and truncated result lines
  docs/docs/configuration/run.md
  warprec/recommenders/callbacks.py
  warprec/recommenders/trainer/logger_callbacks.py
Due: pydoclint, mypy, pylint, bandit

feat: Fixed content-based models side matrix integration and TF-IDF weighting
  warprec/data/dataset.py
  warprec/data/entities/interactions.py
  warprec/recommenders/base_recommender.py
  warprec/recommenders/content_based_recommender/vsm.py
  warprec/recommenders/hybrid_recommender/attributeuserknn.py
Due: pydoclint, mypy, pylint, bandit

docs: Update documentation for side information and model parameters in content-based and hybrid recommenders
  docs/docs/data-management/reader.md
  docs/docs/recommenders/content.md
  docs/docs/recommenders/hybrid.md
Due: none

fix: Fixed content-based models side matrix integration and TF-IDF weighting
  warprec/data/dataset.py
  warprec/data/entities/interactions.py
  warprec/recommenders/base_recommender.py
  warprec/recommenders/content_based_recommender/vsm.py
  warprec/recommenders/hybrid_recommender/attributeuserknn.py
Due: pydoclint, mypy, pylint, bandit

fix: Added an explicit duplicate policy when building the interaction matrix
  warprec/common/initialize.py
  warprec/data/dataset.py
  warprec/data/entities/interactions.py
  warprec/utils/config/reader_configuration.py
Due: pydoclint, mypy, pylint, bandit

fix: Zeroed embedding padding rows after weight initialization
  warprec/recommenders/base_recommender.py
Due: pydoclint, mypy, pylint, bandit

fix: Added need_context validation for context-aware models
  warprec/utils/config/config.py
  warprec/utils/config/model_configuration.py
  warprec/utils/config/recommender_model_config/context_aware_config.py
Due: pydoclint, mypy, pylint, bandit

docs: Update documentation for contextual data, duplicate policy and seen-item masking
  docs/docs/configuration/evaluation.md
  docs/docs/configuration/reader.md
  docs/docs/data-management/reader.md
  docs/docs/recommenders/context.md
Due: none

feat: Context-aware models now train and evaluate on interaction rows
  warprec/data/dataset.py
  warprec/data/entities/__init__.py
  warprec/data/entities/transactions.py
  warprec/evaluation/evaluator.py
  warprec/pipelines/design.py
  warprec/pipelines/estimate.py
  warprec/pipelines/eval.py
  warprec/pipelines/remotes/ml.py
  warprec/pipelines/swarm.py
  warprec/pipelines/train.py
  warprec/recommenders/base_recommender.py
  warprec/recommenders/trainer/objectives.py
  warprec/recommenders/trainer/trainer.py
  warprec/utils/config/evaluation_configuration.py
Due: pydoclint, mypy, pylint, bandit

chore: Cleaned up mechanical linting findings across the codebase
  .pre-commit-config.yaml
  sample_pipelines/custom_pipeline.py
  serving/common/models/__init__.py
  serving/restAPI/routes/__init__.py
  serving/restAPI/security/__init__.py
  warprec/common/initialize.py
  warprec/data/dataset.py
  warprec/data/entities/interactions.py
  warprec/data/eval_loaders.py
  warprec/data/reader/base_reader.py
  warprec/data/splitting/splitter.py
  warprec/data/writer/base_writer.py
  warprec/evaluation/metrics/base_metric.py
  warprec/evaluation/metrics/fairness/rsp.py
  warprec/evaluation/metrics/multiobjective/euclideandistance.py
  warprec/evaluation/metrics/multiobjective/hypervolume.py
  warprec/pipelines/remotes/ml.py
  warprec/pipelines/swarm.py
  warprec/recommenders/base_recommender.py
  warprec/recommenders/collaborative_filtering_recommender/autoencoder/sansa.py
  warprec/recommenders/collaborative_filtering_recommender/graph_based/graph_utils.py
  warprec/recommenders/collaborative_filtering_recommender/graph_based/paac.py
  warprec/recommenders/collaborative_filtering_recommender/graph_based/recdcl.py
  warprec/recommenders/sequential_recommender/esasrec.py
  warprec/recommenders/sequential_recommender/linrec.py
  warprec/utils/config/evaluation_configuration.py
  warprec/utils/config/reader_configuration.py
  warprec/utils/config/writer_configuration.py
  warprec/utils/pause.py
Due: pydoclint, mypy, pylint, bandit

chore: Extracted the shared pipeline lifecycle into a common module
  warprec/pipelines/common.py
  warprec/pipelines/design.py
  warprec/pipelines/estimate.py
  warprec/pipelines/eval.py
  warprec/pipelines/swarm.py
  warprec/pipelines/train.py
Due: pydoclint, mypy, pylint, bandit

chore: Collapsed exploded configuration arguments into config slices
  .pre-commit-config.yaml
  warprec/data/dataset.py
  warprec/data/entities/interactions.py
  warprec/data/entities/sessions.py
  warprec/data/entities/train_structures/session_structures.py
  warprec/data/entities/transactions.py
  warprec/data/splitting/splitter.py
  warprec/evaluation/__init__.py
  warprec/evaluation/evaluator.py
  warprec/evaluation/factory.py
  warprec/pipelines/common.py
  warprec/pipelines/design.py
  warprec/pipelines/estimate.py
  warprec/pipelines/eval.py
  warprec/pipelines/remotes/ml.py
  warprec/pipelines/swarm.py
  warprec/pipelines/train.py
  warprec/recommenders/base_recommender.py
  warprec/recommenders/callbacks.py
  warprec/recommenders/sequential_recommender/lightsans.py
  warprec/recommenders/trainer/objectives.py
  warprec/recommenders/trainer/trainer.py
Due: pydoclint, mypy, pylint, bandit

chore: Extracted shared base classes for the paired novelty and bias metrics
  warprec/evaluation/metrics/bias/aclt.py
  warprec/evaluation/metrics/bias/aplt.py
  warprec/evaluation/metrics/bias/long_tail.py
  warprec/evaluation/metrics/novelty/efd.py
  warprec/evaluation/metrics/novelty/epc.py
  warprec/evaluation/metrics/novelty/novelty_profile.py
Due: pydoclint, mypy, pylint, bandit

fix: Fixed statistical significance tests crashing when building the results frame
  warprec/evaluation/statistical_significance.py
  warprec/pipelines/common.py
  warprec/pipelines/eval.py
Due: pydoclint, mypy, pylint, bandit

chore: Anchored the ignore patterns so the test suite and warprec/data are versioned
  .gitignore
Due: none

fix: Fixed MacridVAE crashing on its first training step
  warprec/recommenders/collaborative_filtering_recommender/autoencoder/macridvae.py
Due: pydoclint, mypy, pylint, bandit

test: Added smoke coverage for every registered model
  tests/__init__.py
  tests/conftest.py
  tests/test_model_smoke.py
Due: pydoclint

test: Pinned the ranking and rating metrics to hand-computed values
  tests/test_metrics_golden.py
Due: pydoclint

ci: Added a mandatory Tests workflow and gated the release on it
  .github/workflows/release.yml
  .github/workflows/tests.yml
  makefile
Due: none
