Repository sisinflab/warprec: changes, and which pre-commit hooks are due for each by the changed paths.
All: pydoclint, mypy, pylint, bandit

.pre-commit-config.yaml:

exclude: ^.venv/
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.2
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
        exclude: ^src/pipelines/

  - repo: local
    hooks:
      - id: pydoclint
        name: pydoclint
        entry: poetry run pydoclint
        language: system
        types: [python]
        args: ["--style=google", "--check-return-types=True"]
        exclude: ^src/pipelines/

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        args: [--no-strict-optional, --ignore-missing-imports]
        exclude: ^tests/

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args:
          [
            "--jobs=0",
            "--fail-under=9",
            "--fail-on=F,E",
            "--max-line-length=100",
            "--reports=no",
            # "--good-names=e,f,i,j,k,p,v,x,y,z,x0,x1,z0,z1,tn,fn,tp,fp,auc,fc,bn",
            # "--disable=C0301, C0114, C0115, C0116, E1101, E1121, R0903, R0913, W0511",
            "--disable=C0103,C0114,W0221,W0511,R0913,R0902,R0914,R0917,E1101",
            "--extension-pkg-whitelist=pydantic",
          ]
        exclude: ^tests/


  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: poetry run bandit --skip B614
        language: system
        types: [python]
        exclude: ^tests/|^src/pipelines/

  - repo: local
    hooks:
      - id: export-poetry-requirements
        name: Export Poetry Requirements
        entry: poetry export -f requirements.txt --output requirements.txt --without-hashes
        language: system
        pass_filenames: false
        always_run: true

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # general file rules
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
      # file format checks
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-xml
      # git related
      - id: check-added-large-files
        args: ["--maxkb=3000"]
      - id: check-merge-conflict
      # python specifics
      - id: name-tests-test
        args: ["--pytest-test-first"]

fix: Made closed-form models restorable from a checkpoint alone
  pyproject.toml
  tests/conftest.py
  tests/test_checkpoint_roundtrip.py
  tests/test_model_smoke.py
  warprec/recommenders/base_recommender.py
Due: pydoclint, mypy, pylint, bandit

chore: Removed the test ignore patterns now that the suite is versioned
  .gitignore
Due: none

ci: Ran the linting and the tests in parallel before the release
  .github/workflows/release.yml
Due: none

fix: Bounded the AddEASE and CEASE alpha to a convex combination
  warprec/utils/config/recommender_model_config/hybrid_config.py
Due: pydoclint, mypy, pylint, bandit

docs: Updated the algorithm count to the 73 models actually shipped
  README.md
Due: none

fix: Read the side information with its own format, columns and item dtype
  warprec/common/initialize.py
  warprec/utils/config/reader_configuration.py
Due: pydoclint, mypy, pylint, bandit

feat: Added the option to keep items that carry only side information
  warprec/common/initialize.py
  warprec/data/dataset.py
  warprec/utils/config/reader_configuration.py
Due: pydoclint, mypy, pylint, bandit

feat: Added popularity-based negative sampling alongside the uniform default
  warprec/common/initialize.py
  warprec/data/dataset.py
  warprec/data/entities/interactions.py
  warprec/data/entities/train_structures/interaction_structures.py
  warprec/data/entities/transactions.py
  warprec/utils/config/reader_configuration.py
Due: pydoclint, mypy, pylint, bandit

feat: Added numeric context fields kept as values instead of categories
  warprec/data/dataset.py
  warprec/data/entities/interactions.py
  warprec/data/entities/transactions.py
  warprec/data/eval_loaders.py
  warprec/recommenders/base_recommender.py
  warprec/recommenders/context_aware_recommender/afm.py
  warprec/recommenders/context_aware_recommender/dcn.py
  warprec/recommenders/context_aware_recommender/dcnv2.py
  warprec/recommenders/context_aware_recommender/deepfm.py
  warprec/recommenders/context_aware_recommender/fm.py
  warprec/recommenders/context_aware_recommender/nfm.py
  warprec/recommenders/context_aware_recommender/wideanddeep.py
  warprec/recommenders/context_aware_recommender/xdeepfm.py
Due: pydoclint, mypy, pylint, bandit

feat: Added multi-valued context fields pooled into a single field vector
  warprec/common/initialize.py
  warprec/data/dataset.py
  warprec/data/entities/context.py
  warprec/data/entities/interactions.py
  warprec/data/entities/sessions.py
  warprec/data/entities/transactions.py
  warprec/recommenders/base_recommender.py
  warprec/utils/config/reader_configuration.py
Due: pydoclint, mypy, pylint, bandit

chore: Removed unused comments
  warprec/data/entities/context.py
Due: pydoclint, mypy, pylint, bandit

docs: Documented every configuration keyword and refreshed the reference config
  config/full_config.yml
  config/test_context.yml
  docs/docs/configuration/reader.md
  docs/docs/data-management/reader.md
  docs/docs/recommenders/context.md
Due: none

fix: Configured sequence pooling now reaches the context models
  warprec/common/initialize.py
  warprec/data/dataset.py
Due: pydoclint, mypy, pylint, bandit

fix: Multi-valued contexts no longer break the seen-item index
  warprec/data/entities/context.py
  warprec/data/entities/transactions.py
  warprec/evaluation/evaluator.py
Due: pydoclint, mypy, pylint, bandit

fix: AFM no longer recomputes the item-independent field pairs per candidate
  warprec/recommenders/context_aware_recommender/afm.py
Due: pydoclint, mypy, pylint, bandit

chore: Moved the whole-package linters to the push hook and added coverage
  .pre-commit-config.yaml
  makefile
  poetry.lock
  pyproject.toml
Due: none

fix: Context models gather the catalogue once per evaluation instead of per user batch
  warprec/recommenders/base_recommender.py
  warprec/recommenders/context_aware_recommender/afm.py
  warprec/recommenders/context_aware_recommender/dcn.py
  warprec/recommenders/context_aware_recommender/dcnv2.py
  warprec/recommenders/context_aware_recommender/deepfm.py
  warprec/recommenders/context_aware_recommender/nfm.py
  warprec/recommenders/context_aware_recommender/wideanddeep.py
  warprec/recommenders/context_aware_recommender/xdeepfm.py
Due: pydoclint, mypy, pylint, bandit

refactor: Moved the training signal options into their own configuration section
  config/full_config.yml
  docs/docs/configuration/reader.md
  docs/docs/configuration/training.md
  docs/docs/data-management/reader.md
  docs/docs/recommenders/context.md
  docs/mkdocs.yml
  warprec/common/initialize.py
  warprec/utils/config/__init__.py
  warprec/utils/config/config.py
  warprec/utils/config/reader_configuration.py
  warprec/utils/config/training_configuration.py
Due: pydoclint, mypy, pylint, bandit

chore: Re-enabled the too-many-locals check at a threshold the codebase holds
  .pre-commit-config.yaml
  warprec/data/dataset.py
  warprec/pipelines/estimate.py
  warprec/recommenders/context_aware_recommender/deepfm.py
  warprec/recommenders/context_aware_recommender/xdeepfm.py
  warprec/recommenders/trainer/objectives.py
Due: pydoclint, mypy, pylint, bandit

fix: Resolved the catalogue gather device through the item embedding
  warprec/recommenders/base_recommender.py
Due: pydoclint, mypy, pylint, bandit

refactor: Collapsed the splitter signatures onto column labels and a split spec
  sample_pipelines/custom_pipeline.py
  warprec/common/initialize.py
  warprec/data/schema.py
  warprec/data/splitting/splitter.py
Due: pydoclint, mypy, pylint, bandit

test: Added behavioural tests for splitting, filtering, reading, writing and resume
  tests/test_filters.py
  tests/test_reader_writer.py
  tests/test_run_state.py
  tests/test_splitters.py
Due: pydoclint

refactor: Collapsed the data entity constructors onto shared schema values
  warprec/data/dataset.py
  warprec/data/entities/interactions.py
  warprec/data/entities/train_structures/session_structures.py
  warprec/data/entities/transactions.py
  warprec/data/schema.py
  warprec/evaluation/evaluator.py
Due: pydoclint, mypy, pylint, bandit

fix: Sampling draws from a seeded generator instead of the global one
  warprec/data/entities/train_structures/interaction_structures.py
  warprec/data/entities/train_structures/session_structures.py
Due: pydoclint, mypy, pylint, bandit

refactor: Shared the entity id mapping, loader construction and worker seeding
  warprec/data/entities/common.py
  warprec/data/entities/interactions.py
  warprec/data/entities/sessions.py
  warprec/data/entities/transactions.py
Due: pydoclint, mypy, pylint, bandit

test: Added regression tests for seeded sampling
  tests/test_reproducibility.py
Due: pydoclint

refactor: Shared the seen-item masking between evaluation and recommendation writing
  warprec/data/ranking.py
  warprec/data/writer/base_writer.py
  warprec/evaluation/evaluator.py
Due: pydoclint, mypy, pylint, bandit

feat: Added inverse propensity estimators that correct evaluation for exposure bias
  warprec/evaluation/evaluator.py
  warprec/evaluation/factory.py
  warprec/evaluation/metrics/__init__.py
  warprec/evaluation/metrics/debiased/__init__.py
  warprec/evaluation/metrics/debiased/base.py
  warprec/evaluation/metrics/debiased/dcg.py
  warprec/evaluation/metrics/debiased/recall.py
  warprec/evaluation/propensity.py
  warprec/utils/config/__init__.py
  warprec/utils/config/evaluation_configuration.py
Due: pydoclint, mypy, pylint, bandit

docs: Documented the propensity model and the debiased estimators
  README.md
  config/full_config.yml
  docs/docs/api-reference/metrics/debiased.md
  docs/docs/configuration/evaluation.md
  docs/docs/evaluation/debiased.md
  docs/docs/evaluation/metrics/debiased.md
  docs/docs/evaluation/metrics/taxonomy.md
  docs/docs/get-started/introduction.md
  docs/docs/get-started/quick-start.md
  docs/docs/index.md
  docs/mkdocs.yml
Due: none

feat: Added item and user cold-start splitting strategies
  warprec/data/splitting/strategies.py
  warprec/utils/enums.py
Due: pydoclint, mypy, pylint, bandit

fix: Cold-start protocols keep the entities they hold out of training
  warprec/common/initialize.py
  warprec/data/dataset.py
  warprec/data/splitting/splitter.py
Due: pydoclint, mypy, pylint, bandit

feat: Added a candidate restriction so cold-start runs measure cold items
  warprec/data/ranking.py
  warprec/evaluation/evaluator.py
  warprec/evaluation/factory.py
  warprec/utils/config/evaluation_configuration.py
Due: pydoclint, mypy, pylint, bandit

docs: Documented the cold-start protocols and the candidate restriction
  config/full_config.yml
  docs/docs/configuration/evaluation.md
  docs/docs/configuration/splitting.md
  docs/docs/evaluation/cold-start.md
  docs/mkdocs.yml
Due: none

fix: Ties in the ranking are broken at random instead of by item id
  warprec/data/ranking.py
  warprec/evaluation/evaluator.py
Due: pydoclint, mypy, pylint, bandit

docs: Documented how to read a restricted candidate pool
  docs/docs/evaluation/cold-start.md
Due: none

feat: Added MMR and calibration re-ranking applied to evaluation and written recommendations
  warprec/data/writer/azureblob_writer.py
  warprec/data/writer/base_writer.py
  warprec/data/writer/local_writer.py
  warprec/evaluation/evaluator.py
  warprec/evaluation/factory.py
  warprec/pipelines/design.py
  warprec/pipelines/estimate.py
  warprec/pipelines/eval.py
  warprec/pipelines/remotes/data.py
  warprec/recommenders/reranking/__init__.py
  warprec/recommenders/reranking/base.py
  warprec/recommenders/reranking/calibration.py
  warprec/recommenders/reranking/factory.py
  warprec/recommenders/reranking/mmr.py
  warprec/utils/config/__init__.py
  warprec/utils/config/config.py
  warprec/utils/config/rerank_configuration.py
  warprec/utils/registry.py
Due: pydoclint, mypy, pylint, bandit

docs: Documented re-ranking
  config/full_config.yml
  docs/docs/api-reference/recommenders/reranking.md
  docs/docs/recommenders/reranking.md
  docs/mkdocs.yml
Due: none

test: Added behavioural tests for debiased evaluation, cold-start and re-ranking
  docs/docs/evaluation/cold-start.md
  tests/test_cold_start.py
  tests/test_debiased_metrics.py
  tests/test_reproducibility.py
  tests/test_reranking.py
  warprec/data/ranking.py
  warprec/recommenders/reranking/base.py
Due: pydoclint, mypy, pylint, bandit

docs: Refreshed the strategy counts and the capability summaries
  README.md
  docs/docs/get-started/introduction.md
  docs/docs/index.md
Due: none

perf: The ranking tie break only shuffles the rows that are actually tied
  warprec/data/ranking.py
Due: pydoclint, mypy, pylint, bandit
