Repository sisinflab/warprec: changes, and which pre-commit hooks are due for each by the changed paths.
All: pydoclint, mypy, pylint, bandit

pydoclint:
  name: pydoclint
  entry: poetry run pydoclint
  language: system
  args:
  - --style=google
  - --check-return-types=True

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  args:
  - --no-strict-optional
  - --ignore-missing-imports

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --jobs=0
  - --fail-under=9
  - --fail-on=F,E
  - --max-line-length=100
  - --reports=no
  - --disable=C0103,C0114,W0221,W0511,R0913,R0902,R0914,R0917,E1101
  - --extension-pkg-whitelist=pydantic

bandit:
  name: bandit
  entry: poetry run bandit --skip B614
  language: system

test: The context array and the cloze collation are covered
  tests/test_collation.py
  tests/test_context_encoding.py
Due: pydoclint

ci: Raise the coverage floor to 76 percent
  makefile
  pyproject.toml
Due: none

fix: F1 leaves out the users it cannot score
  warprec/evaluation/metrics/accuracy/f1.py
Due: pydoclint, mypy, pylint, bandit

fix: GAUC asks for the block its update needs
  warprec/evaluation/metrics/accuracy/gauc.py
Due: pydoclint, mypy, pylint, bandit

fix: The clustered and feature metrics no longer trip on the padding row
  warprec/data/dataset.py
  warprec/evaluation/factory.py
  warprec/evaluation/metrics/diversity/srecall.py
  warprec/evaluation/metrics/fairness/rsp.py
Due: pydoclint, mypy, pylint, bandit

fix: SNIPS normalises over the candidates it was given
  warprec/evaluation/metrics/debiased/base.py
  warprec/evaluation/metrics/debiased/dcg.py
  warprec/evaluation/metrics/debiased/recall.py
Due: pydoclint, mypy, pylint, bandit

fix: Sampled evaluation refuses an impossible request instead of hanging
  warprec/data/eval_loaders.py
Due: pydoclint, mypy, pylint, bandit

test: Metrics are pinned against hand-computed values and smoke-tested
  tests/test_evaluation_loaders.py
  tests/test_metric_smoke.py
  tests/test_metrics_clustered.py
  tests/test_metrics_golden_beyond_accuracy.py
  tests/test_ranking_masking.py
  tests/test_results_reporting.py
Due: pydoclint

ci: Raise the coverage floor to 80 percent
  makefile
  pyproject.toml
Due: none

test: The tie-break test no longer assumes a platform's topk ordering
  tests/test_ranking_masking.py
Due: pydoclint

refactor: One place decides how a trainer is built
  warprec/recommenders/trainer/runtime.py
Due: pydoclint, mypy, pylint, bandit

feat: Mixed precision and gradient clipping are configurable
  warprec/pipelines/design.py
  warprec/pipelines/estimate.py
  warprec/pipelines/remotes/ml.py
  warprec/recommenders/trainer/objectives.py
  warprec/utils/config/model_configuration.py
Due: pydoclint, mypy, pylint, bandit

test: The trainer runtime settings are covered
  tests/test_training_runtime.py
Due: pydoclint

docs: Documented precision and gradient clipping
  config/full_config.yml
  docs/docs/configuration/models.md
Due: none

docs: Named the models that cannot use mixed precision
  docs/docs/configuration/models.md
Due: none

docs: Warn about families rather than listing every model
  docs/docs/configuration/models.md
Due: none

docs: Say where mixed precision is worth setting
  docs/docs/configuration/models.md
Due: none

fix: PopREO counts only the relevant recommendations
  warprec/evaluation/metrics/bias/pop_reo.py
Due: pydoclint, mypy, pylint, bandit

test: PopREO is pinned on a fixture that separates the two readings
  tests/test_metrics_golden_beyond_accuracy.py
Due: pydoclint

fix: PopRSP divides by what was actually on offer
  warprec/evaluation/metrics/bias/pop_rsp.py
Due: pydoclint, mypy, pylint, bandit

fix: RSP counts the available items instead of estimating them
  warprec/evaluation/metrics/fairness/rsp.py
Due: pydoclint, mypy, pylint, bandit

test: The parity metrics are pinned against hand-computed rates
  tests/test_metrics_clustered.py
  tests/test_metrics_golden_beyond_accuracy.py
Due: pydoclint

ci: A published release can be uploaded again
  .github/workflows/release.yml
Due: none

fix: A user with no history is scored instead of crashing or returning NaN
  warprec/data/entities/sessions.py
  warprec/recommenders/base_recommender.py
  warprec/recommenders/sequential_recommender/bsarec.py
  warprec/recommenders/sequential_recommender/cl4srec.py
  warprec/recommenders/sequential_recommender/duorec.py
  warprec/recommenders/sequential_recommender/esasrec.py
  warprec/recommenders/sequential_recommender/fossil.py
  warprec/recommenders/sequential_recommender/gsasrec.py
  warprec/recommenders/sequential_recommender/sasrec.py
Due: pydoclint, mypy, pylint, bandit

test: A user with no history is checked against every sequential model
  tests/test_cold_start.py
  tests/test_model_smoke.py
Due: pydoclint

docs: The cold start guide states what an empty history is scored from
  docs/docs/evaluation/cold-start.md
Due: none

fix: BiasDisparityBS measures the training data it is named after
  warprec/evaluation/evaluator.py
  warprec/evaluation/metrics/fairness/biasdisparitybs.py
Due: pydoclint, mypy, pylint, bandit

test: The BiasDisparity metrics are pinned against hand-computed bias
  tests/test_metrics_clustered.py
Due: pydoclint

docs: BiasDisparityBS is described as the bias source, not a score
  docs/docs/evaluation/metrics/fairness.md
Due: none

feat: Sampled evaluation can draw its negatives by popularity
  config/full_config.yml
  warprec/data/dataset.py
  warprec/data/entities/train_structures/interaction_structures.py
  warprec/data/eval_loaders.py
  warprec/pipelines/design.py
  warprec/pipelines/estimate.py
  warprec/pipelines/eval.py
  warprec/pipelines/remotes/ml.py
  warprec/recommenders/trainer/objectives.py
  warprec/utils/config/evaluation_configuration.py
  warprec/utils/helpers.py
Due: pydoclint, mypy, pylint, bandit

test: Popularity-sampled evaluation is checked to draw harder negatives
  tests/test_evaluation_loaders.py
Due: pydoclint

docs: The sampled evaluation negative sampling keyword is documented
  docs/docs/configuration/evaluation.md
Due: none

feat: LogLoss measures how calibrated a model's scores are
  warprec/evaluation/metrics/accuracy/__init__.py
  warprec/evaluation/metrics/accuracy/logloss.py
Due: pydoclint, mypy, pylint, bandit

test: LogLoss is pinned against a hand-computed cross-entropy
  tests/test_metrics_golden.py
Due: pydoclint

docs: LogLoss is documented and the metric count is updated
  README.md
  docs/docs/api-reference/metrics/accuracy.md
  docs/docs/evaluation/metrics/accuracy.md
  docs/docs/evaluation/metrics/taxonomy.md
  docs/docs/get-started/quick-start.md
  docs/docs/index.md
Due: none

fix: The interaction matrix refuses contexts instead of misaligning them
  warprec/data/entities/interactions.py
  warprec/recommenders/base_recommender.py
Due: pydoclint, mypy, pylint, bandit

test: The two pointwise datasets are pinned where they agree and where they differ
  tests/test_pointwise_rows.py
Due: pydoclint

docs: Contextual training states that it needs the reader context section
  docs/docs/recommenders/context.md
Due: none

ci: The dependency install is retried when the package index fails
  .github/actions/setup-env/action.yml
Due: none

ci: The coverage floor leaves headroom instead of tracking the suite
  pyproject.toml
Due: none

Path conditions:
  pydoclint: any of: \.py$ and not (^src/pipelines/) and not (^.venv/)
  mypy: any of: \.py$ and not (^tests/) and not (^.venv/)
  pylint: any of: \.py$ and not (^tests/) and not (^.venv/)
  bandit: any of: \.py$ and not (^tests/|^src/pipelines/) and not (^.venv/)
